.navegation{
    background-color: #fff;
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    padding: 10px 0px;
    width: 100%;
    justify-content: space-between;
}
.navegation h2{
    margin-left: 70px;
}
.cart-btn button{
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    margin-right: 70px;
}
.cart-btn svg{
    color: #3d3d3d;
}

/* Contenido del carrito */

.flex-contCart{
    position: fixed;
    width: 100%;
    height: 10px;
    top: 50px;
    display: flex;
}
.contentCart{
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-right: 100px;
}
.contentCart h3{
    display: flex;
    justify-content: center;
}
.flex-products{
    display: block;
    list-style-type: none;
}
.flex-products li{
    display: flex;
    gap: 20px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}
.fe{
    display: none;
}
.flex-products li h4{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: normal;
    white-space: nowrap;
    color: #3d3d3d;
}
.x{
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.flex-products svg{
    display: flex;
    align-items: center;
}
.btn-buy{
    padding: 5px;
    width: 100%;
    background-color: #00a2ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.flex-value{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    align-items: center;
}
.value1{
    justify-content: space-around;
    align-items: center;
}
.value1 p{
    color: #808080;
}
.value1 h3{
    color: #3d3d3d;
}
.value2{
    justify-content: space-around;
    padding: 0px 10px;
}
.value2 p{
    color: #808080;
}
.value2 h3{
    color: #3d3d3d;
}